<html>
<head>

</head>
<body>


<svg  viewbox="0 0 400 380">
  <a><polygon (click)="fv(1)" class="teal" points="0 0 200 100 160 200 0 100" /></a>
  <a><polygon (click)="fv(2)" class="pink" points="0 0 200 100 300 0" /></a>
  <a><polygon (click)="fv(3)" class="teal" points="0 100 160 200 0 300" /></a>
  <a><polygon (click)="fv(4)" class="teal" points="300 0 200 100 400 380" /></a>
  <a><polygon (click)="fv(5)" class="pink" points="400 380 200 100 160 200" /></a>
  <a><polygon (click)="fv(6)" class="teal" points="400 380 160 200 0 300 160 260" /></a>
  <a><polygon (click)="fv(7)" class="pink" points="400 380 0 380 0 300 160 260" /></a>
  <a><polygon (click)="fv(8)" class="pink" points="300 0 400 380 400 400 400 0" /></a>
  <a><polygon (click)="fv(9)" class="teal" points="400 340 360 320 320 340 340 400 400 400" /></a>
   
</svg>

</body>
</html>
