<h2> Üdvözöllek, {{currentUser.username}}!</h2>

<div class="container">
  <div class="row">
    <div class="col-sm-8" no-float>
      <div class="panel panel-default">
        <div class="panel-heading">Informations</div>
        <div class="panel-body">
          <h3>Várakozó játékosok száma: {{readyUserCount}}</h3></div>
      </div>

      <button [disabled]="readyClicked" (click)="gameReady()" type="button" class="btn">Game ready</button>
      <button [disabled]="notReadyClicked" (click)="notReady()" type="button" class="btn">Not ready</button>



    </div>
    <div class="col-sm-4" no-float>

            <div class="panel panel-default">
              <div class="panel-heading">Social</div>
              <div class="panel-body">
                <label for="invites">Invites:</label>
                <ul name="invites">
                  <li *ngFor="let invite of invites">
                    <p> invite from: </p> {{ invite.who }} <button (click)="acceptInvite(invite.who)" type="button" class="btn">Accept</button> <button (click)="declineInvite(invite.who)" type="button" class="btn">Decline</button>
                  </li>
                </ul>
              </div>
              <div class="panel-body">
                <label for="friends">Friends:</label>
                <ul name="friends">
                  <li *ngFor="let friend of friends">
                    {{ friend }} <button (click)="sendInvite(friend)" type="button" class="btn">Invite</button> <button (click)="removeFriend(friend)" type="button" class="btn">Remove</button>
                  </li>
                </ul>
              </div>

              <div class="panel-body">

                <label for="username">Username:</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="friendName" required />
                <br>
                <button (click)="addFriend()" type="button" class="btn">Add Friend</button>
              </div>
            </div>
    </div>
  </div>
</div>
