<div class="container">

  <div class="row">
    <div class="col-sm-8" no-float>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Game panel</div>
        <div class="panel-body">
          <h2><span class="label label-warning"></span> </h2>

          <div class="alert alert-warning">
            <strong>{{question.question}}</strong>
          </div>
          <button [disabled]="answerClicked" (click)="btn1()" type="button" class="btn">{{question.answer1}}</button>
          <button [disabled]="answerClicked" (click)="btn2()" type="button" class="btn">{{question.answer2}}</button>
          <button [disabled]="answerClicked" (click)="btn3()" type="button" class="btn">{{question.answer3}}</button>
          <button [disabled]="answerClicked" (click)="btn4()" type="button" class="btn">{{question.answer4}}</button>
        </div>
        <div class="panel-body">
          <p>Valasz: {{answer}} </p>
          <br>terkep helye
          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      </div>
    </div>
    <div class="col-sm-4" no-float>
      <!-- <app-chat></app-chat> -->

      <app-newchat></app-newchat>
    </div>
  </div>
</div>
