<div class="container">
  <div class="row">
    <div class="col-sm-8" no-float>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Game panel</div>
        <div class="panel-body">
          <div class="alert alert-warning">
            <strong>{{question.question}}</strong>
          </div>
          <button [disabled]="answerClicked" (click)="btn1()" type="button" class="btn">{{question.answer1}}</button>
          <button [disabled]="answerClicked" (click)="btn2()" type="button" class="btn">{{question.answer2}}</button>
          <button [disabled]="answerClicked" (click)="btn3()" type="button" class="btn">{{question.answer3}}</button>
          <button [disabled]="answerClicked" (click)="btn4()" type="button" class="btn">{{question.answer4}}</button>
        </div>
        <div class="panel-body">
          <h3>MatchResult :{{matchResult.p1}} score: {{matchResult.s1}}</h3>
          <h3>MatchResult :{{matchResult.p2}} score: {{matchResult.s2}}</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4" no-float>
      <div class="panel panel-default">
        <div class="panel-heading">Chat</div>
        <div class="panel-body">
          <app-newchat></app-newchat>
        </div>
      </div>
    </div>
  </div>
</div>
